@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body
{
  background: #f1f1f1;
  /*overflow-y: hidden;*/
}

.phone
{
  width: 313.62px;
  height: 602px;
  background-color: #fff;
  margin: 0px auto;
  border-radius: 3px;
  position: relative;
  box-shadow:  6px 6px 15px -6px #333;
  opacity: 0;
}

.AndroidStatusBar
{
  height: 14px;
  background-color: #b93221;
  margin: 0;
  border: 0;
  padding: 2px;
  -webkit-box-shadow: 0px 7px 21px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 21px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 21px -10px rgba(0,0,0,0.75);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.AndroidStatusBar ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b93221;
}

.AndroidStatusBar li
{
  float: right;
}

.AndroidStatusBar li a
{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.AndroidStatusBar #AndroidTime
{
  padding: 0 3px;
}

.AppHeader
{
  height: 50px;
  background-color: #da4336;
  -webkit-box-shadow: 0px 7px 21px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 21px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 21px -10px rgba(0,0,0,0.75);
}

.AndroidMenuTitle
{
  font-size: 18px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  font-weight: lighter;
  top: 32px;
  margin: 0 8px 0 12px;
}

.AndroidMenuIcon
{
  font-size: 30px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 24px;
  margin: -2px 20px;
}

.AddButton
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #da4336;
  position: absolute;
  bottom: 34px;
  right: 0;
  margin: 0 12px 10px 0;
  color: #fff;
  box-shadow:  3px 4px 15px -6px #333;
  display: table;
}

.AddButtonIcon
{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 22px;
}

.AndroidButton
{
  height: 32px;
  background-color: #000100;
  margin-top: 325px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: absolute;
  width: 100%;
}

.Cards
{
  height: 50px;
  padding: 0;
  margin: 6px auto;
  border-bottom: 1px solid #eee;
  position: relative;
}

.AndroidButton ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.AndroidButton li
{
  float: left;
  margin: 0 6px;
}

.AndroidButton li a
{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 9px 0 0 60px;
}

.Social
{
  font-size: 18px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  font-weight: lighter;
  top: 26px;
  margin: -18px 8px 10px 12px;
  color: #131313;
  position: absolute;
}

#Heading
{
  font-weight: bolder;
  font-size: 15px;
}

#Sub-Heading
{
  font-weight: lighter;
  font-size: 12px;
  color: #a4a4a4;
}

.NewItems
{
  position: absolute;
  right: 0;
  top: -48px;
  margin: 0px 20px;
  position: absolute;
  border: 0;
  width: 50px;
  height: 18px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  border-radius: 1px;
}
